.container-menu{
    width: 90%;
   background-color: $primary;
    margin: 30px auto;
    padding: 30px 20px;
    border-radius: 10px;
    
}

.menu{
    width: 100%;
    background-color:white;
    border-radius: 5px;
    border-color: orange;
    outline: none;
    text-align: left;
    padding: 15px 20px 10px;
    color: rgb(255, 217, 0);
    cursor: pointer;
    transition: background-color 0.2s linear;
    margin-bottom: 2px;
    font-weight: bold;
    

        // &:hover, &.is-open {
        //     background-color: $primary;
        //     color: white;
        // }

        &::after{
            content: "\f055";
            font-family: "fontawesome";
            font-size: 20px;
            float: right;
        }
        
        &.is-open::after { 
            content: "\f056"; 
        }

} 

.menu-content{
    padding: 0 20px;
    border-left: 1px solid  rgb(255, 217, 0);
    border-right: 1px solid  rgb(255, 217, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: rgb(255, 217, 60);
    border-radius: 2px;
    text-align: left;

    #extra-info {
        border: 1px solid #ccc;
        display: none;
        font-size: 10px;
        margin-top: 10px;
        padding: 5px;
        text-transform: uppercase;
      }

  

    ul{
        padding-top: 18px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .tooltip{
            position: relative;

            .tooltiptext{
                position: absolute;
                z-index: 1;
                visibility: hidden;
                width: max-content;
                background-color: white;
                color: orange;
                text-align: center;
                top: 100%;
                left: 50%;
                margin-left: -100px;
                font-size: small;
                border-radius: 50px;
                padding: 2px 8px;
                opacity: 0;
                transition: opacity 2s;
            }

            &:hover .tooltiptext{
                visibility: visible;
                opacity: 1;
            }
        }

        }

        
    

    .price{
        position: relative;
        top: -20px;
        left: 70%;
     }

     
    
}


