.base{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;

    .thank-you{
        
        
        background-color: $primary;
        color: white;
        width: 80%;
        height: 200px;
        border-radius: 50px;

                @include for-tablet-landscape-up {    
                    width: 60%;
                }

                @include for-desktop-up {
                    width: 40%;
                    height: 230px;
                }   

        h1{
            padding: .5em;
        }
        
        p{
            padding: .5em 0 1.5em 0;
        }

        .back-index{
            color: white;
            background-color: orange;
            border-radius: 50px;
            padding: .3em .5em .3em .5em;
            

            &:hover{
                background-color: white;
                color: orange;
                transition-timing-function: ease-in;
                transition: 0.50s;
                cursor: pointer;
            }
        }
        
        
    }
}

